# dependencies
node_modules/

# env
.env
.env*.local

# expo / metro
.expo/
dist/
web-build/
.cache/
cache/
.metro-health-check*

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo